/* changing input placeholder color */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}


/*  */

html,
body {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#background {
    background-color: #000;
    background-image: url(../images/bg4.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}


/* * - everything in loginContainer */

#loginContainer * {
    box-sizing: border-box;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1em;
}

#loginContainer {
    margin: 0% auto;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1024px;
}

#inputContainer {
    width: 80%;
    padding: 4.5rem;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #999;
}

#inputContainer h2 {
    text-align: center;
    font-size: 2.8rem;
    padding: 5px;
    border-bottom: 3px solid aquamarine;
    border-radius: 15px;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    font-size: 1.5rem;
    line-height: 27px;
    width: 100%;
}

#inputContainer label {
    color: #a0a0a0;
    font-size: 1.5rem;
    margin-top: 15px;
    display: block;
}

#inputContainer button {
    background-color: transparent;
    border-radius: 250px;
    border: 2px solid #fff;
    color: #fff;
    display: block;
    font-size: 2rem;
    height: 4.1rem;
    letter-spacing: 1px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    width: 90%;
}

#inputContainer button:hover {
    font-size: 3rem;
}

#inputContainer button:hover,
#hasAccountText span:hover {
    background-color: rgb(17, 175, 122);
    border: 3px solid rgb(88, 236, 155);
    cursor: pointer;
    height: 5rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

#hasAccountText span {
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

#hasAccountText {
    text-align: center;
}

#registerForm,
#loginForm {
    display: none;
}

#loginText {
    padding: 20px;
    display: table-cell;
}

#loginText h1 {
    color: aquamarine;
    font-size: 7rem;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li,
h2 {
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 10px 30px;
    margin: 10px;
    list-style-type: none;
    font-size: 20px;
}

.checked {
    width: 17px;
}

#loginText li:hover {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

#inputContainer .errorMessage {
    color: aquamarine;
    font-size: 1.3rem;
    display: block;
}