/* Common styles for the whole page */

:root {
    --primary-color: #2c3531;
    --secondary-color: #ffcb9a;
    --accent-color: #d9b08c;
    --blue-text-color: #116466;
    --white-text-color: #d1e8e2;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}


/*  */


/* Top container */

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: rgb(3, 3, 61);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo img {
    width: 32px;
    margin: 10px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 5px;
    font-size: 3rem;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    color: aquamarine;
}

.icon-search {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
}


/* Playing bar */

#nowPlayingBarContainer {
    width: 100%;
    background-color: rgb(3, 3, 61);
    position: fixed;
    bottom: 0;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
}


/* Player controls styles */

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
    width: 32px;
    height: 32px;
}

.controlButton:hover {
    cursor: pointer;
}


/*  */


/* Progress line */

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404040;
}

.progress {
    width: 30%;
    height: 4px;
    border-radius: 2px;
    background-color: #a0a0a0;
}

.playbackBar .progressBar {
    margin-top: 3px;
}


/*  */


/* Album cover and track information */

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
}

#nowPlayingLeft .trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    font-size: 2rem;
    margin: 6px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

#nowPlayingLeft .trackInfo .artistName {
    font-size: 1.5rem;
    color: #a0a0a0;
}


/*  */


/* Volume controller */

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}